*{
 /* border:1px solid black;*/
    margin: 0;
    color: black!important;
    font-family: 'Antonio', sans-serif;
}
#logoimg{
    width: 130px;
    height: 110px;
}
#imgMenu{
    width: 30px;
    height: 30px;
}
.dropdown:hover>.dropdown-menu{
    display:block;
}
header{
    background-color: white;
}
.carousel-inner{
    height: 600px!important;
}
#div1{
    background-image: url('https://i.ibb.co/v4LNgfS/Whats-App-Image-2021-11-15-at-2-50-40-PM.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}
#div2{
    background-image: url('https://i.ibb.co/ymzPZMP/Whats-App-Image-2021-11-15-at-2-52-16-PM.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-position-y: center;
}
#div3{
    background-image: url('https://i.ibb.co/NSq04X8/Whats-App-Image-2021-11-15-at-2-52-43-PM.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-position-y: center;
}
#card1{
    background-image: url('https://i.ibb.co/pK0XLhD/255271424-4341281539254568-306449819177689884-n.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-position-y: 25%;
}
#card2{
    background-image: url('https://i.ibb.co/qDF4rZd/Whats-App-Image-2021-11-15-at-4-29-19-PM.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#card3{
    background-image: url('https://i.ibb.co/8MvyjL5/Whats-App-Image-2021-11-15-at-4-31-00-PM.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
#card4{
    background-image: url('https://i.ibb.co/7tBr4Hk/Whats-App-Image-2021-11-15-at-4-29-18-PM.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}
.list-group{
    width: 100%!important;
}
#logofooter{
    width: 200px;
    height: 100px;
}
.list-group-item{
    text-align: center;
    color: #6F6F6E!important;
    font-family: Antonio;
}
.redes{
    width: 50px;
    height: 50px;
}
a{
    text-decoration: none!important;
}
#footerColor{
    background: linear-gradient(to bottom, #f7ba8f, #ffa69e)!important;
}
